body {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    color: white;
    background-color: black;
    padding: 1em;
    text-align: center;
  }
  
  main {
    margin: 1rem;
  }
  
  .name {
    display: grid;
    padding: auto;
    grid-template-columns: 1.5fr 0.5fr;
  }

  .pos {
    margin-top: -50px;
  }


  .foto {
    margin-top: 10px;
    justify-self: end;
  }

    section {
        margin-bottom: 2rem;
    }
  
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }